/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 7, 2014, 2:28:09 PM
    Author     : pgiotis
*/

body {
    background-color: #eee;
    margin-top: 50px;
} 

#myTab{
    border-bottom-width: 10px;
}